.PAGImg{
    height: 100;
    width: auto;
}
.hotNotImg{
        border-radius: 25%;
        width: 160px;
        height: auto;
}
.row{
    color: #4A90E2
}
.desc{
    color: white;
}
// .box{
//     margin-left: 10px;
//     margin-left: 10px;
//     background-color: white;
//     border-radius: 15%;
//     border: 1px solid white;
// }