.signInButtons {
  margin-top: 200px;
}
.profileBox {
  border: 0.2px solid black;
  width: 191px;
  height: 88px;
  padding: 0px;
  margin: 0px;
}
.boarder {
  // border: 0.2px solid black;
}
.addCross {
  height: 70px;
}
.addAccount {
  max-width: 191px;
  background-color: #d8d8d8;
  border: 0.2px solid black;
  width: 191px;
  height: 88px;
}
